# Builds Shopware Docker images. Useful for verification in continuous integration scenarios, for example:
# on:
#   pull_request:
#     types: [opened, reopened, synchronize]
# jobs:
#   build-images:
#     uses: TorqIT/shopware-github-actions-workflows/.github/workflows/docker-builds@v8
#     secrets:
#        BUILD_TIME_SECRETS: >
#          {
#            "shopware-composer-token": "${{ secrets.SHOPWARE_COMPOSER_TOKEN }}",
#            ...any other build-time secrets you need
#          }
#
# Requires the following permissions to be set in the callig job:
# permissions:
#   contents: read
#   actions: read
#

name: Build Docker images

on:
  workflow_call:
    inputs:
      RUNNER:
        required: false
        type: string
        description: Optional self-hosted runner for this workflow (see https://github.com/TorqIT/shopware-github-actions-workflows#self-hosted-runners)
      SUBMODULES:
        required: false
        type: boolean
        default: false
        description: "Whether to clone submodules when cloning the project repository"
      BUILD_TIME_ARGS:
        required: false
        type: string
        default: "{}"
        description: "A JSON object containing Docker build-time args in key: value format"
      SHOPWARE_ROOT:
        required: false
        type: string
        default: "."
        description: "The path (relative to the project's root) in which the Shopware files are stored (e.g. config, src, etc)"
      INIT_DOCKERFILE:
        required: false
        type: string
        default: ".docker/Dockerfile"
        description: "The path (relative to the project's root) of the Dockerfile used to build the init image"
      INIT_DOCKER_TARGET:
        required: false
        type: string
        default: "init"
        description: "The Docker target to use when building the init image"
      PHP_DOCKERFILE:
        required: false
        type: string
        default: ".docker/Dockerfile"
        description: "The path (relative to the project's root) of the Dockerfile used to build the PHP image"
      PHP_DOCKER_TARGET:
        required: false
        type: string
        default: "php"
        description: "The Docker target to use when building the PHP image"
      SUPERVISORD_DOCKERFILE:
        required: false
        type: string
        default: ".docker/Dockerfile"
        description: "The path (relative to the project's root) of the Dockerfile used to build the supervisord image"
      SUPERVISORD_TARGET:
        required: false
        type: string
        default: "supervisord"
        description: "The Docker target to use when building the supervisord image"

    secrets:
      SHOPWARE_COMPOSER_TOKEN:
        required: true
        description: The value of your project's Shopware Composer token
      BUILD_TIME_SECRETS:
        required: false
        description: A JSON object of secrets required at build-time (see above for example format)

jobs:
  build-docker-images:
    name: Build Docker images
    runs-on: ${{ inputs.RUNNER || 'ubuntu-latest' }}
    environment: ${{ inputs.ENVIRONMENT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.SUBMODULES }}

      - name: Get workflow version
        id: workflow-version
        uses: canonical/get-workflow-version-action@v1
        with:
          repository-name: TorqIT/shopware-github-actions-workflows
          file-name: docker-builds.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout workflow repository to use composite actions
        uses: actions/checkout@v4
        with:
          repository: TorqIT/shopware-github-actions-workflows
          ref: ${{ steps.workflow-version.outputs.sha }}
          path: reusable-workflow
          fetch-depth: 1

      - name: Replace local Composer dependencies with their remote counterparts
        uses: ./reusable-workflow/.github/actions/replace-local-composer-dependencies
        with:
          PHP_VERSION: ${{ inputs.PHP_VERSION }}
          SHOPWARE_ROOT: ${{ inputs.SHOPWARE_ROOT }}
          SHOPWARE_COMPOSER_TOKEN: ${{ secrets.SHOPWARE_COMPOSER_TOKEN }}

      - name: Set up Docker
        uses: ./reusable-workflow/.github/actions/setup-docker

      - name: Build init image
        uses: ./reusable-workflow/.github/actions/build-and-push-shopware-image
        with:
          DOCKERFILE_TARGET: ${{ inputs.INIT_DOCKER_TARGET }}
          DOCKERFILE_PATH: ${{ inputs.INIT_DOCKERFILE }}
          SHOPWARE_ROOT: ${{ inputs.SHOPWARE_ROOT }}
          BUILD_TIME_ARGS: ${{ inputs.BUILD_TIME_ARGS }}
          BUILD_TIME_SECRETS: ${{ secrets.BUILD_TIME_SECRETS }}
          SHOPWARE_COMPOSER_TOKEN: ${{ secrets.SHOPWARE_COMPOSER_TOKEN }}
          PUSH: "false"

      - name: Build PHP image
        uses: ./reusable-workflow/.github/actions/build-and-push-shopware-image
        with:
          DOCKERFILE_PATH: ${{ inputs.PHP_DOCKERFILE }}
          DOCKERFILE_TARGET: ${{ inputs.PHP_DOCKER_TARGET }}
          SHOPWARE_ROOT: ${{ inputs.SHOPWARE_ROOT }}
          BUILD_TIME_ARGS: ${{ inputs.BUILD_TIME_ARGS }}
          BUILD_TIME_SECRETS: ${{ secrets.BUILD_TIME_SECRETS }}
          SHOPWARE_COMPOSER_TOKEN: ${{ secrets.SHOPWARE_COMPOSER_TOKEN }}
          PUSH: "false"

      - name: Build supervisord image
        uses: ./reusable-workflow/.github/actions/build-and-push-shopware-image
        with:
          DOCKERFILE_PATH: ${{ inputs.SUPERVISORD_DOCKERFILE }}
          DOCKERFILE_TARGET: ${{ inputs.SUPERVISORD_TARGET }}
          SHOPWARE_ROOT: ${{ inputs.SHOPWARE_ROOT }}
          BUILD_TIME_ARGS: ${{ inputs.BUILD_TIME_ARGS }}
          BUILD_TIME_SECRETS: ${{ secrets.BUILD_TIME_SECRETS }}
          SHOPWARE_COMPOSER_TOKEN: ${{ secrets.SHOPWARE_COMPOSER_TOKEN }}
          PUSH: "false"
