# Performs a backup of an Azure Disk and saves it to the same Resource Group.
#
# Invoke this workflow in your project's workflow as follows (example below triggers the workflow once per month):
# on:
#   schedule:
#     - cron: "0 0 1 * *" 
# jobs:
#   disk-backup:
#     uses: TorqIT/pimcore-github-actions-workflows/.github/workflows/job-azure-disk-backup.yml@v6
#     permissions:
#       contents: read
#       actions: read
#     with:
#       ENVIRONMENT: production
#     secrets:
#       SERVICE_PRINCIPAL_ID: ${{ secrets.SERVICE_PRINCIPAL_ID }}
#       SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SERVICE_PRINCIPAL_PASSWORD }}
#       SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
#
# - AZURE_TENANT_ID
#     description: ID of the Azure tenant to deploy to
#     required: true
# - AZURE_SUBSCRIPTION_ID
#     description: ID of the Azure subscription to deploy to
#     required: true
# - AZURE_BACKUP_DISK_NAME
#     description: Name of the disk to back up
#     required: true
# - RESOURCE_GROUP
#     description: Name of the Resource Group that hosts the disk
#     required: true
#

name: Azure Disk Backup

on:
  workflow_call:
    inputs:
      RUNNER:
        required: false
        type: string
        description: Optional self-hosted runner for this workflow (see https://github.com/TorqIT/pimcore-github-actions-workflows#self-hosted-runners)
      ENVIRONMENT:
        required: false
        default: production
        type: string
        description: "The GitHub Environment in which to run the workflow"

    secrets:
      SERVICE_PRINCIPAL_ID:
        required: true
        description: The ID of the Service Principal in Azure that will be used to deploy. The Service Principal must have permission to create disk backups in the Resource Group.
      SERVICE_PRINCIPAL_PASSWORD:
        required: true
        description: The password for the Service Principal in Azure
      SLACK_WEBHOOK_URL:
        required: true
        description: Webhook URL to send job status messages to

jobs:
  back-up-db:
    name: Create an backup of an Azure Disk
    runs-on: ${{ inputs.RUNNER || 'ubuntu-latest' }}
    environment: ${{ inputs.ENVIRONMENT }}
    steps:
      - name: Get workflow version
        id: workflow-version
        uses: canonical/get-workflow-version-action@v1
        with:
          repository-name: TorqIT/pimcore-github-actions-workflows
          file-name: job-azure-disk-backup.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout workflow repository to use composite actions
        uses: actions/checkout@v4
        with:
          repository: TorqIT/pimcore-github-actions-workflows
          ref: ${{ steps.workflow-version.outputs.sha }}
          path: reusable-workflow
          fetch-depth: 1

      - name: Log in to Azure
        uses: ./reusable-workflow/.github/actions/azure-login
        with:
          SERVICE_PRINCIPAL_ID: ${{ secrets.SERVICE_PRINCIPAL_ID }}
          SERVICE_PRINCIPAL_PASSWORD: ${{ secrets.SERVICE_PRINCIPAL_PASSWORD }}
          TENANT: ${{ vars.AZURE_TENANT_ID }}
          SUBSCRIPTION: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      
      - name: Create backup
        id: backup
        uses: azure/cli@v2
        with:
          inlineScript: |
            set -e
            backupName=$(echo ${{ vars.AZURE_BACKUP_DISK_NAME }})-$(date +%s)
            az snapshot create \
              --resource-group ${{ vars.RESOURCE_GROUP }} \
              --name $backupName \
              --source ${{ vars.AZURE_BACKUP_DISK_NAME }} \
              --sku "Standard_ZRS" \
              --incremental true
            echo "backupName=$backupName" >> $GITHUB_OUTPUT

      - name: Send job status to Slack
        if: always()
        uses: slackapi/slack-github-action@v2
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "*Azure Disk backup job*"
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "*Disk backup job for ${{ github.repository }}*: ${{ job.status == 'success' && 'Success! :white_check_mark:' || 'Failed :x:' }}\n\nBackup named *${{ steps.backup.outputs.backupName }}* was created\n\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          