name: "CI for Docker-based projects"

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: "meta-ci-docker-pr-${{ github.event.pull_request.number }}"
  cancel-in-progress: true

jobs:
  skeleton-2024-x:
    name: "Meta CI for skeleton (2024.x)"
    uses: ./.github/workflows/ci-docker.yml
    with:
      PROJECT_REPOSITORY: TorqIT/pimcore-skeleton
      PROJECT_REPOSITORY_REF: 2024.x

  skeleton-2025-x:
    name: "Meta CI for skeleton (2025.x)"
    uses: ./.github/workflows/ci-docker.yml
    with:
      PROJECT_REPOSITORY: TorqIT/pimcore-skeleton
      PROJECT_REPOSITORY_REF: 2025.x
      RUN_UNIT_TESTS: true
    secrets:
      PIMCORE_ENCRYPTION_SECRET: ${{ secrets.PIMCORE_ENCRYPTION_SECRET }}
      PIMCORE_INSTANCE_IDENTIFIER: ${{ secrets.PIMCORE_INSTANCE_IDENTIFIER }}
      PIMCORE_PRODUCT_KEY: ${{ secrets.PIMCORE_PRODUCT_KEY }}
