name: "CI for Docker-based projects"

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: "meta-ci-docker-pr-${{ github.event.pull_request.number }}"
  cancel-in-progress: true

jobs:
  skeleton:
    name: "Meta CI for skeleton"
    uses: ./.github/workflows/ci-docker.yml
    with:
      PROJECT_REPOSITORY: TorqIT/shopware-skeleton
      PROJECT_REPOSITORY_REF: main
      SHOPWARE_ROOT: src
      E2E_TESTS_DIRECTORY: e2e
      E2E_TESTS_HOSTNAME: "demo.localhost.torq"
      GITHUB_APP_CHECKOUT: true
      GITHUB_APP_CHECKOUT_REPOSITORIES: shopware-skeleton
    secrets:
      SHOPWARE_COMPOSER_TOKEN: ${{ secrets.SHOPWARE_COMPOSER_TOKEN }}
      GITHUB_APP_ID: ${{ secrets.GH_APP_ID }}
      GITHUB_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
